streamlit
pandas
yfinance
requests
beautifulsoup4
nltk
plotly
scikit-learn
transformers
python-dotenv
python-dateutil
matplotlib
mplfinance
PyMuPDF
Pillow
camelot-py
ghostscript
PyPDF2
