streamlit
pandas
yfinance
requests
beautifulsoup4
nltk
plotly
scikit-learn
transformers
python-dotenv
python-dateutil
matplotlib
mplfinance
PyMuPDF
Pillow
camelot-py[cv]==0.10.1
ghostscript==0.7
PyPDF2==3.0.1
