streamlit
pandas
yfinance
requests
beautifulsoup4
nltk
plotly
scikit-learn
transformers
python-dotenv
python-dateutil
matplotlib
mplfinance
PyMuPDF
Pillow
pdfplumber
PyPDF2
WordCloud
newspaper3k
spacy
numpy
lxml_html_clean
thinc
ta-lib-bin
pandas_ta